# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
!*.exe
!*.dll
!*.bak
/SCADA/Program/.vs/DataExchange/v15/Server/sqlite3
/SCADA/Program/.vs/DataExchange/v15
/SCADA/Program/BatchCoreService/bin/Debug
*.resources
/SCADA/Program/BatchCoreService/obj
/SCADA/Program/BatchCoreService/bin
/SCADA/Program/BatchCoreTest/obj
/SCADA/Program/BatchCoreTest/bin
/SCADA/Program/ClientDriver/bin
/SCADA/Program/ClientDriver/obj
/SCADA/Program/CoreTest/bin
/SCADA/Program/CoreTest/obj
/SCADA/Program/DataHelper/bin
/SCADA/Program/DataHelper/obj
/SCADA/Program/DataService/bin
/SCADA/Program/DataService/obj
/SCADA/Program/FileDriver/bin
/SCADA/Program/FileDriver/obj
/SCADA/Program/ModbusDriver/bin
/SCADA/Program/ModbusDriver/obj
/SCADA/Program/OPCDriver/bin/
/SCADA/Program/OPCDriver/obj
/SCADA/Program/OPCLib/bin
/SCADA/Program/OPCLib/obj
/SCADA/Program/SiemensPLCDriver/bin
/SCADA/Program/SiemensPLCDriver/obj
/SCADA/Program/TagConfig/TagConfig/bin
/SCADA/Program/TagConfig/TagConfig/obj
